*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    scroll-behavior: smooth;
}

header{
    background-color: #220a38;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    padding: 2rem 0 2rem  2rem;
    color: rgb(12, 201, 207);
    text-transform: uppercase;
}


nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin:1rem;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: cadetblue;
}

#active{
    color: #13afdf;
    font-weight: bolder;
}

nav ul li a:hover{
    color: rgb(19, 175, 223);
    font-weight: bolder;
    text-decoration: underline;
}

.btn a{
    padding:1.25rem;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
    background-color:#220a38;
    margin-right: 5rem;
    text-transform: uppercase;
}
.btn a:hover{
    background:#FA2525;
    padding:1.25rem;
    color: #ffffff;
}

/* header ended here */


main .document{ 
    text-transform: uppercase;
    background-image: url(images/bgmain.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

main .document h1 span{
    color: rgb(250, 37, 37);
}

main .document h2{
    color: rgb(241, 139, 6);
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 5rem;
}

.document .text-part{
    font-size: 2rem;
    margin: 10rem 1rem 1rem 6rem;
}

.document .text-part p span{
    font-weight: 800;
}

.document p{
    color: blueviolet;
    display: inline;
    position: absolute;
    margin-left: 16rem;
    margin-top: 3rem;
}

/* document section ends here */

.skill-sec h1{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1.2;
    text-align: center;
    margin: 5rem 0 3rem;
}

.card-body img{
    height: 300px;
    width: 100%;
    transition: all 0.5s;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card-body{
    width: 400px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid rgba(0,0,0,0.3);
    transition: all 0.5s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text h2{
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
}

.card-text p{
    padding: 10px;
}

.card-text h2 abbr{
    text-decoration: none;
}

.card-body:hover{
    transform: scale(1.05);
    box-shadow: 5px 10px 10px rgba(0,0,0,0.4);
    border-radius: 3px solid;
    border-top-right-radius:10px ;
}
.card-body:hover img{
    border-top-right-radius:10px ;

}

/*language-sec starts */

.language-sec{
    padding: 10rem 5%;
}

.lang-heading{
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 5px;
    color: #ee0f0f;
}

.card-grp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.card-heading{
    text-align: center;
}

.card-heading h3{
    font-size: 2rem;
    text-transform: uppercase;
}

.card-heading img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#last-card{
    margin-left: 20px;
}

.card{
    transition: all .5s;
}

.card:hover{
    transform:rotate(360deg)

}
